global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 10s
    timeout client 10s
    timeout server 10s

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold nx 10s
    hold obsolete 10s
    hold other 10s
    hold refused 10s
    hold timeout 10s
    hold valid 10s

frontend stats
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s

frontend frontend_api
    bind *:6100
    default_backend backend_api

frontend frontend_node
    bind *:2100
    default_backend backend_node

frontend frontend_receiver
    bind *:7100
    default_backend backend_receiver

backend backend_api
    balance roundrobin
    server-template api- 3 api:6000 check resolvers docker inter 3s maxconn 100

backend backend_node
    balance roundrobin
    server-template node- 3 node:2000 check resolvers docker inter 3s maxconn 100

backend backend_receiver
    balance roundrobin
    server-template receiver- 3 receiver:7000 check resolvers docker inter 3s maxconn 100

#listen cockroach
    #balance roundrobin
    #bind :26257
    #option tcplog
    #mode tcp
    #option httpchk GET /health?ready=1
    #server s1 cockroach-1:26257 check port 8080 maxconn 3
    #server s2 cockroach-2:26258 check port 8081 maxconn 3
    #server s3 cockroach-3:26259 check port 8082 maxconn 3
