defaults
    mode http
    timeout client 10s
    timeout connect 5s
    timeout server 10s 
    timeout http-request 10s

frontend myfrontend_api
    bind *:9010
    default_backend mybackend_api

frontend myfrontend_receiver
    bind *:9000
    default_backend mybackend_receiver

frontend mystats
    bind *:9103
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s

backend mybackend_api
    server server1 192.168.0.213:5000 check
    server server2 192.168.0.213:5001 check

backend mybackend_receiver
    server server1 192.168.0.213:7000 check
    server server2 192.168.0.213:7001 check
    server server3 192.168.0.213:7002 check
