defaults
    mode http
    timeout client 10s
    timeout connect 5s
    timeout server 10s 
    timeout http-request 10s

frontend myfrontend_api
    bind *:9020
    default_backend mybackend_api

frontend myfrontend_receiver
    bind *:9050
    default_backend mybackend_receiver

frontend mystats
    bind *:9103
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s

backend mybackend_api
    server server1 192.168.50.20:5000 check
    server server2 192.168.50.21:5001 check

backend mybackend_receiver
    server server1 192.168.50.30:7000 check
    server server2 192.168.50.31:7001 check
    server server3 192.168.50.32:7002 check
