defaults
    mode http
    timeout client 10s
    timeout connect 5s
    timeout server 10s
    timeout http-request 10s

resolvers docker
    nameserver dns1 127.0.0.11:53

frontend myfrontend_api
    bind *:9020
    default_backend mybackend_api

frontend myfrontend_receiver
    bind *:9050
    default_backend mybackend_receiver

frontend mystats
    bind *:9103
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s

backend mybackend_api
    server s1 api_1:6000 check
    server s2 api_2:6000 check

backend mybackend_receiver
    server s1 receiver_1:7000 check
    server s2 receiver_2:7000 check
    server s3 receiver_3:7000 check
